# This is a basic workflow to help you get started with Actions

name: Build and Push to Registry

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  schedule:
    - cron: 0 18 * * 0
    # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  php-81:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      version: '8.1-rc'
      alternate_version: '8.1'
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Reppo
        uses: actions/checkout@v2
      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: PHP ${{ env.version }} FPM
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-fpm
          build-args: |
            PHP_VERSION=${{ env.version }}
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.version }}-fpm
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-fpm
            ${{ github.repository_owner }}/symfony:${{ env.version }}-fpm
            ${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-fpm
      - name: PHP ${{ env.version }} FPM Alpine
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-fpm
          build-args: |
            PHP_VERSION=${{ env.version }}
            SUFFIX=-alpine
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm-alpine
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm-alpine
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.version }}-fpm-alpine
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-fpm-alpine
            ${{ github.repository_owner }}/symfony:${{ env.version }}-fpm-alpine
            ${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-fpm-alpine
      - name: PHP ${{ env.version }} Apache
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-apache
          build-args: |
            PHP_VERSION=${{ env.version }}
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-apache
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-apache
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.version }}-apache
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-apache
            ${{ github.repository_owner }}/symfony:${{ env.version }}-apache
            ${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-apache
  # This workflow contains a single job called "build"
  php-80:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      version: '8.0'
      alternate_version: '8'
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Reppo
        uses: actions/checkout@v2
      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: PHP ${{ env.version }} FPM
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-fpm
          build-args: |
            PHP_VERSION=${{ env.version }}
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.version }}-fpm
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-fpm
            ${{ github.repository_owner }}/symfony:${{ env.version }}-fpm
            ${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-fpm
      - name: PHP ${{ env.version }} FPM Alpine
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-fpm
          build-args: |
            PHP_VERSION=${{ env.version }}
            SUFFIX=-alpine
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm-alpine
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm-alpine
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.version }}-fpm-alpine
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-fpm-alpine
            ${{ github.repository_owner }}/symfony:${{ env.version }}-fpm-alpine
            ${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-fpm-alpine
      - name: PHP ${{ env.version }} Apache
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-apache
          build-args: |
            PHP_VERSION=${{ env.version }}
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-apache
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-apache
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.version }}-apache
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-apache
            ${{ github.repository_owner }}/symfony:${{ env.version }}-apache
            ${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-apache
  php-74:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      version: '7.4'
      alternate_version: '7'
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Reppo
        uses: actions/checkout@v2
      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: PHP ${{ env.version }} FPM
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-fpm
          build-args: |
            PHP_VERSION=${{ env.version }}
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.version }}-fpm
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-fpm
            ${{ github.repository_owner }}/symfony:${{ env.version }}-fpm
            ${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-fpm
      - name: PHP ${{ env.version }} FPM Alpine
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-fpm
          build-args: |
            PHP_VERSION=${{ env.version }}
            SUFFIX=-alpine
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm-alpine
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm-alpine
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.version }}-fpm-alpine
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-fpm-alpine
            ${{ github.repository_owner }}/symfony:${{ env.version }}-fpm-alpine
            ${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-fpm-alpine
      - name: PHP ${{ env.version }} Apache
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-apache
          build-args: |
            PHP_VERSION=${{ env.version }}
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-apache
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-apache
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.version }}-apache
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-apache
            ${{ github.repository_owner }}/symfony:${{ env.version }}-apache
            ${{ github.repository_owner }}/symfony:${{ env.alternate_version }}-apache
  php-73:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      packages: write
    env:
      version: '7.3'
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Reppo
        uses: actions/checkout@v2
      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: PHP ${{ env.version }} FPM
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-fpm
          build-args: |
            PHP_VERSION=${{ env.version }}
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.version }}-fpm
            ${{ github.repository_owner }}/symfony:${{ env.version }}-fpm
      - name: PHP ${{ env.version }} FPM Alpine
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-fpm
          build-args: |
            PHP_VERSION=${{ env.version }}
            SUFFIX=-alpine
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm-alpine
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-fpm-alpine
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.version }}-fpm-alpine
            ${{ github.repository_owner }}/symfony:${{ env.version }}-fpm-alpine
      - name: PHP ${{ env.version }} Apache
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-apache
          build-args: |
            PHP_VERSION=${{ env.version }}
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-apache
          cache-to: type=registry,mode=max,ref=ghcr.io/${{ github.repository_owner }}/cache/symfony:${{ env.version }}-apache
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/symfony:${{ env.version }}-apache
            ${{ github.repository_owner }}/symfony:${{ env.version }}-apache